<div class="container" style="
    margin-top: 100px; margin-bottom: 50px;">
  <div class="row">
<div id="content">
<div class="tab-content">
  <%= simple_form_for @user, :url=>{:controller=>"football_steps",:action=>"update",:id=>@user.id}, method: "put" do |f| %>
    <div class="container change-container center_div">
    <div class="tab-pane" id="tab1">
    <% if params[:plan_name] == "summer_wk"%>
      <%= render partial: "summer_weekly", locals: {plan_name: params[:plan_name],summer_plan: params[:summer_plan],f: f} %>
    <%elsif params[:plan_name] == "summer_wk1" %> 
      <%= render partial: "summer_weekly", locals: {plan_name: params[:plan_name],f: f} %>
    <%else%>
      <h3>  <%if params[:plan_name] == "noresmen_basketball" %> 
             Norsemen Basketball 2016- 2017
           <h3>  You may enter multiple children's names In the Child Name box. Seperate your childrens names by comma. If you are registering more than one child. Please email your children's birthday dates to tapssportsacademy@gmail.com</h3>

            <%else%>
              Norsemen Football / Cheerleading Registration Form 
            <%end%>
      </h3>
      <div class="row">
        <div class="col-lg-3 col-xs-5 ">
          <%= f.input :parent_name, placeholder: 'first name',class: "required email col-xs-5 ", required: true %>
        </div>
        <div class="col-lg-3 col-xs-5 ">
          <%= f.input :last_name, placeholder: 'last name',class: "required email", required: true %>
        </div>
        <div class="col-lg-3 col-xs-5 ">
          <%= f.input :primary_phone, label: "Primary Phone", required: true %>
        </div>
      </div>
      <%= render 'partials/children_form', f: f %>
      <br>
     


    <%= f.hidden_field "plan_name", :value => params[:plan_name] %>
    <%= f.hidden_field "interval", :value => params[:interval] %>
    <%end%>
    
  </div>
    <%= f.submit "Continue", class: "btn btn-primary btn-info" %>
  <% end %>
</div>
 <div class="wave2"></div>
</div>
</div>
</div>
</div>