<div id="sliders">
    <div class="full-width">
        <!-- dark slider -->
        <div id="dark-slider" class="carousel slide">  
            <div class="carousel-inner">
                <!-- slide 1 -->
                <div class="item active slide1">
                    <div class="container">
                        <div class="carousel-caption">
                            <div class="row">
                                <div class="col-md-12 slider-content">
                                    <h3 class="slide-title animated fadeInDown"><span class="text-primary">T.A.P.S </span> - SUMMER ENRICHMENT 2017</h3>
                                    <h4 class="slide-text animated fadeIn">Don't miss your opportunity to register before seats begin to fill for your camp of choice.</h4>
                                    <!-- <a href="sliders.html#" class="page-scroll btn btn-lg btn-default-filled btn-pill animated fadeInUp">Find Out More</a>
                                    <a href="sliders.html#" class="page-scroll btn btn-lg btn-primary-filled btn-pill animated fadeInUp">Download Now</a> -->
                                </div><!-- slider-content -->
                            </div><!-- / row -->
                        </div><!-- / carousel-caption -->
                    </div><!-- / container -->
                </div><!-- / slide 1 -->
                <!-- slide 2 -->
                <div class="item slide2">
                    <div class="container">
                        <div class="carousel-caption">
                            <div class="row">
                                <div class="col-md-12 slider-content">
                                    <h3 class="slide-title animated fadeInDown"><span class="text-primary">Register</span>Today</h3>
                                    <h4 class="slide-text animated fadeIn">$35 reservers your childs space.</h4>
                                    <!-- <a href="sliders.html#" class="page-scroll btn btn-lg btn-default-filled btn-pill animated fadeInUp">Get Started</a>
                                    <a href="sliders.html#" class="page-scroll btn btn-lg btn-primary-filled btn-pill animated fadeInUp">Buy Now</a> -->
                                </div><!-- slider-content -->
                            </div><!-- / row -->
                        </div><!-- / carousel-caption -->
                    </div><!-- / container -->
                </div><!-- / slide 2 -->
            </div><!-- /carousel-inner -->
            <!-- controls -->
            <a class="left carousel-control" href="sliders.html#dark-slider" data-slide="prev"><span class="lnr lnr-chevron-left"></span></a>
            <a class="right carousel-control" href="sliders.html#dark-slider" data-slide="next"><span class="lnr lnr-chevron-right"></span></a>
            <!-- controls -->
        </div>
        <!-- / dark slider-->
    </div><!-- / full-width -->
</div>
<!-- / sliders -->
<div class="space-100">&nbsp;</div>

 <!-- about section 4col -->
<div id="about" data-section="about">
    <div class="container">
        
       <div class="page-header text-center">
        <h2>T.A.P.S 2017 SUMMER ENRICHMENT</h2><br>
        
       </div>
        
        
        
        <div class="row">
            <div class="about col-sm-3">
                <div class="feature-icon">
                    <i class="lnr lnr-laptop-phone"></i>
                </div>
                <h5 class="about-title">TEEN SUMMER ACADEMY BEGINS</h5>
                <p>JUNE 12,2017 – AUGUST 18,2017</p>
            </div>
            <div class="about col-sm-3">
                <div class="feature-icon">
                    <i class="lnr lnr-eye"></i>
                </div>
                <h5 class="about-title">Middle School Ages or Grades 6-8</h5>
                <p>11 WEEKS OF ACADEMICS, ARTS AND ATHLETICS</p>
            </div>
            <div class="about col-sm-3">
                <div class="feature-icon">
                    <i class="lnr lnr-code"></i>
                </div>
                <h5 class="about-title">Registration Fee</h5>
                <p>Reserve your child's placement today for $35</p>
            </div>
            <div class="about col-sm-3">
                <div class="feature-icon">
                    <i class="lnr lnr-pencil"></i>
                </div>
                <h5 class="about-title">EARLY BIRDS Special</h5>
                <p>Benefit from an early registration and fee discount; reserve your child's placement today </p>
            </div>
        </div>
    </div><!-- / container -->
</div><!-- / about section 4col -->

<div id="team" data-section="team">
    <div class="container">
        <div class="page-header">
            <h2>THE TEAM</h2>
        </div>
        <div class="row">
            <div class="team-rounded col-sm-6">
                <%= image_tag  "jsmith.png", alt: "about"%>
                <h5 class="team-title">Jermaine Smith</h5>
                <p class="team-role">Founder -</p>
                <p class="social-icons">
                    <span>
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-google-plus"></i></a>
                        <a href="#"><i class="fa fa-linkedin"></i></a>
                        <a href="#"><i class="fa fa-dribbble"></i></a>
                    </span>
            </div>
            <div class="team-rounded col-sm-6">

                <%= image_tag  "csmith.png", alt: "about"%>
                <h5 class="team-title">Cynthia Smith</h5>
                <p class="team-role">- Director of HR and Program Administration -</p>
                <p class="social-icons">
                    <span>
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-google-plus"></i></a>
                        <a href="#"><i class="fa fa-linkedin"></i></a>
                        <a href="#"><i class="fa fa-dribbble"></i></a>
                    </span>
            </div>
            
        </div>
    </div><!-- / container -->
</div><!-- / team section 3col -->


<!-- facts 4col -->
<div id="facts" class="parallax" data-section="facts">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-3">
                <i class="facts-icon lnr lnr-rocket"></i>
                <p class="timer" id="websites" data-to="178" data-speed="1000">fact</p>
                <h5 class="facts-title">At Camp Kids Learn Social Skills </h5>
            </div>
            <div class="col-sm-6 col-md-3">
                <i class="facts-icon lnr lnr-code"></i>
                <p class="timer" id="code" data-to="483" data-speed="1500">fact</p>
                <h5 class="facts-title">At Camp Kids Make true friends</h5>
            </div>
            <div class="col-sm-6 col-md-3">
                <i class="facts-icon lnr lnr-coffee-cup"></i>
                <p class="timer" id="coffee" data-to="649" data-speed="2000">fact</p>
                <h5 class="facts-title"> Camp gets kids back outside.</h5>
            </div>
            <div class="col-sm-6 col-md-3">
                <i class="facts-icon lnr lnr-envelope"></i>
                <p class="timer" id="emails" data-to="836" data-speed="2500">fact</p>
                <h5 class="facts-title">Camp Builds Teamwork</h5>
            </div>
        </div>
    </div><!-- / container -->
</div><!-- / facts 4col -->
<div class="space-200">&nbsp;</div>

 <div class="page-header text-center">
        <h2>T.A.P.S 2017 SUMMER ENRICHMENT</h2><br>
        
       </div>
<!-- services sections with image left -->
<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
            <%= image_tag "regis.jpg",alt: "img" %>

            </div><!-- / col-md-6 -->

            <div class="col-md-6">
                 <div class="service-description">
                    <h5>Summer Camp 2017 Description</h5>
                    <p>The T.A.P.S Academic, Athletic and Arts Enrichment Camp 
is the combination of our educational arts and sports program packaged in an 11 week window to allow students to continue to learn over the summer, but still have fun.TAPS is for school age kids 5-14 years old. All of our activities are based on a teambuilding mindset which means there is very little self-play. The reason behind this is we want to get the youth back to communication, respecting the value and roles others play in outcomes and most importantly teamwork. Team building and character development are at the foundation of every activity that we run..
                    <br>
                    <br>
                    The morning hours are set aside for educational session where the kids will rotate in the classroom with their grade level group for one hour of reading and one hour math every day.  We offer an array of options in our club based setting where campers are able to enjoy activities in STEM, Art, Music, Drama, Athletic and Book Club.
                    <br>
                    <br>
                    The afternoon hours are spent on the youth being outside participating in team activities on our turf field or black top or inside in our multi-purpose room where they can play board games, watch movies, and do crafts.</p>
                    <!-- <a href="services-components.html#" class="btn btn-primary-filled">Learn More</a> -->
                </div><!-- / service-description -->
            </div><!-- / col-md-6 -->
        </div><!-- / row -->
    </div><!-- / container -->
</section>
<!-- / services sections with image left -->
<div class="space-100">&nbsp;</div>
<!-- facts 4col -->
<div id="facts" class="parallax" data-section="facts">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-3">
                <i class="facts-icon lnr lnr-rocket"></i>
                <p class="timer" id="websites" data-to="178" data-speed="1000">fact</p>
                <h5 class="facts-title">Camp expands every child’s abilities.</h5>
            </div>
            <div class="col-sm-6 col-md-3">
                <i class="facts-icon lnr lnr-code"></i>
                <p class="timer" id="code" data-to="483" data-speed="1500">fact</p>
                <h5 class="facts-title">Camp Is Action</h5>
            </div>
            <div class="col-sm-6 col-md-3">
                <i class="facts-icon lnr lnr-envelope"></i>
                <p class="timer" id="emails" data-to="836" data-speed="2500">fact</p>
                <h5 class="facts-title">Camp Teaches Kids They can</h5>
            </div>
            <div class="col-sm-6 col-md-3">
                <i class="facts-icon lnr lnr-envelope"></i>
                <p class="timer" id="emails" data-to="836" data-speed="2500">fact</p>
                <h5 class="facts-title">Kids Practice Making Decisions For Themselves </h5>
            </div>
        </div>
    </div><!-- / container -->
</div><!-- / facts 4col -->
<div class="space-50">&nbsp;</div>
<!-- services sections with image right -->
<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                 <div class="service-description">
                    <h4>T.A.P.S TEENS Camp 2017 Description</h4>
                    
                    <p>TAPS Teens is designed to help our young people grow into responsible adults. Social responsibility, self-confidence, community building and character development are at the root of all of our Teen Programs. Tailored for the older camper, Teen camp is a natural extension of the Enrichment Camp experience. We believe in providing an experience that is relevant for Middle School age campers and nurtures them at this incredible stage of their development. Teen Camp provides an opportunity for teenagers to learn about themselves, make a difference to the lives of others and realize their leadership potential. 

                    <br>
                    <br>
                    Our programs recognize the developing needs of teens for more adventure and challenge. This is a unique experience, enhancing the development of living skills, natural awareness, and close relationships with others.  Our enriched program features a wide variety of activities like:</p>
                    <ol>
                    <li>home economics</li>
                    <li>culinary arts</li>
                    <li>community involvement</li>
                    <li>guest speakers</li>
                    <li>field trips</li>
                    <li>leadership training</li>
                </ol>
                   <!--  <a href="services-components.html#" class="btn btn-primary-filled">Learn More</a> -->
                </div><!-- / service-description -->
            </div><!-- / col-md-6 -->

            <div class="col-md-6">
                <%= image_tag "regis.jpg",alt: "img" %>
            </div><!-- / col-md-6 -->
        </div><!-- / row -->
    </div><!-- / container -->
</section>
<!-- / services sections with image right -->
<!-- / services sections with image right -->
<div class="space-50">&nbsp;</div>
<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
            <%= image_tag "regis.jpg",alt: "img" %>

            </div><!-- / col-md-6 -->

            <div class="col-md-6">
                 <div class="service-description">
                    <h5>Junior Counselor Training (JCT) Program (FREE) ages 15-16</h5>
                    <p>Our Junior Counselor Training (JCT) is a leadership development role that will develop skills that apply to camp, sports, school and life.  Each participant will learn the fundamentals of leading games, and camp activities.  They will learn age appropriate child development and the responsibility of working with children.

                    <br>
                    <br>
                    While learning the importance of service through hands-on training, JCT s will experience all the fun of camp and building strong, lasting friendships. Each JCT will be partnered with different Camp Counselors to assist young campers in their daily sports and activities, and JCT will be evaluated on their performance.
                    <br>
                    <br>
                    The goal of the JCT training is for our junior counselors to have Fun and Learn while at camp. Interacting with campers and representing T.A.P.S requires a certain level of maturity and we expect all JCT’s to be able to Listen, Learn and Lead.  This is a free training program and only a few JCT participants will be selected..</p>
                    <!-- <a href="services-components.html#" class="btn btn-primary-filled">Learn More</a> -->
                </div><!-- / service-description -->
            </div><!-- / col-md-6 -->
        </div><!-- / row -->
    </div><!-- / container -->
</section>







<div class="space-100">&nbsp;</div>


<!-- facts 4col -->
<section id="facts">
    <div class="container">
        <div class="row">
            <!-- fact -->
            <div class="col-sm-6 col-md-3 text-center">
                <i class="fact-icon lnr lnr-rocket"></i>
                <h3 class="timer" id="websites" data-to="234" data-speed="1000">234</h3>
                <h5 class="fact-title"> Develop life-long skills</h5>
            </div>
            <!-- /fact -->

            <!-- fact -->
            <div class="col-sm-6 col-md-3 text-center">
                <i class="fact-icon lnr lnr-rocket"></i>
                <h3 class="timer" id="code" data-to="234" data-speed="1500">234</h3>
                <h5 class="fact-title">Gain resiliency</h5>
            </div>
            <!-- / fact -->

            <!-- fact -->
            <div class="col-sm-6 col-md-3 text-center">
                <i class="fact-icon lnr lnr-rocket"></i>
                <h3 class="timer" id="coffee" data-to="234" data-speed="2000">234</h3>
                <h5 class="fact-title">build self-confidence</h5>
            </div>
            <!-- / fact -->

            <!-- fact -->
            <div class="col-sm-6 col-md-3 text-center">
                <i class="fact-icon lnr lnr-rocket"></i>
                <h3 class="timer" id="emails" data-to="234" data-speed="2500">234</h3>
                <h5 class="fact-title">At camp we play!</h5>
            </div>
            <!-- /fact -->
        </div>
    </div><!-- / container -->
</section>
<!-- / facts 4 col -->
<div class="space-100">&nbsp;</div>

<div id="listgroups-panels">
<div class="container">
<div class="page-header text-center">
        <h2>Register Today</h2><br>
        
       </div>
<div class="space-50">&nbsp;</div>

<div class="cards">
  <div class="container">
      <div class="row">
            <!-- card -->
             <div class="col-md-4">
                <div class="card">
            <%= image_tag "card3.png", class: "card-img-top" ,alt: "img" %>
                    <div class="card-block text-center">
                        <h3 class="card-title bg-info">Early Bird Special</h3>
                        <p class="card-text">Early Bird summer camp registration is open and space is filling up already for our 2017 camp.</p>
                        <ul class="list-featured space-bottom-20">
                    <li>Early Bird Special  $95.00 per week for all weeks paid in advance.</li>
                    <li>Camp runs June12th-Aug18th.</li>
                    
                </ul>
                       <%=link_to 'Register Now',taps_programs_path(query: "earlybird_special"),class: "btn btn-lg btn-success-filled btn-pill" %><br>
                       <h4 class="color-1">$995 <br><small>Paid In Advance</small></h4>
                    </div>
                </div><!-- / .card -->
            </div><!-- / col-md-4 -->
            <!-- / card -->

            <!-- card -->
            <div class="col-md-4">
                <div class="card">
            <%= image_tag "card1.png", class: "card-img-top" ,alt: "img" %>
                    <div class="card-block text-center">
                        <h3 class="card-title bg-info">Charlotte Summer Camp</h3>
                        <p class="card-text">Registration is open and space is filling up already for our 2017 camp.</p>
                        <ul class="list-featured space-bottom-20">
                    <li>PERFORMING ARTS </li>
                    <li> ENTREPRENEURSHIP</li>
                    <li>SOCIAL MEDIA RESPONSIBILITY</li>
                    <li>PUBLIC SPEAKIN</li>
                    <li>SELF IMAGING</li>
                    <li>SPORTS and MORE</li
                </ul> 
                   <%=link_to 'Register Now',taps_programs_path(query: "charlottecamp"),class: "btn btn-lg btn-success-filled btn-pill" %><br>
                  <h4 class="color-1">$35 <br><small>Registation Fee</small></h4>
                    </div>
                </div><!-- / .card -->
            </div><!-- / col-md-4 -->
            <!-- / card -->

            <!-- card -->
            <div class="col-md-4">
                <div class="card">
                     <%= image_tag "card1.png", class: "card-img-top" ,alt: "img" %>
                    <div class="card-block text-center">
                        <h3 class="card-title bg-info">Eden Summer Camp</h3>
                        <p class="card-text">Registration is open and space is filling up already for our 2017 camp.</p>
                         
                         <ul class="list-featured space-bottom-20">
                    <li>PERFORMING ARTS </li>
                    <li> ENTREPRENEURSHIP</li>
                    <li>SOCIAL MEDIA RESPONSIBILITY</li>
                    <li>PUBLIC SPEAKIN</li>
                    <li>SELF IMAGING</li>
                    <li>SPORTS and MORE</li>
                </ul>
                        <%=link_to 'Register Now',taps_programs_path(query: "edencamp"),class: "btn btn-lg btn-success-filled btn-pill" %><br>
                  <h4 class="color-1">$35 <br><small>Registation Fee</small></h4>
                    </div>
                </div><!-- / .card -->
            </div><!-- / col-md-4 -->
            <!-- / card -->
        </div>
    </div>
</div>
</div>
</div>



<div class="space-200">&nbsp;</div>



