<div class="space-200">&nbsp;</div>
     <div class="page-header text-center">
            <h2>Waivers &amp;Online Forms</h2>
        </div>
<div class="space-50">&nbsp;</div>
  <div id="listgroups-panels">
    <div class="container">
        <!-- wells -->
        <!-- default well -->
        <div class="row">
            <div class="col-sm-12">
                <h4 class="sub-title">Download Field Trip Permission Form
                </h4>
                <div class="well"> <%= link_to 'Download', asset_path('Field Trip Transportation Permission.doc'), class: "btn btn-info-filled"  %>
                </div>
            </div><!-- / col-sm-12 -->
        </div><!-- / row -->
        
        <div class="row">
            <div class="col-sm-12">
                <h4 class="sub-title">Download TAPS Teen Summer Camp 2017 Form
                </h4>
                <div class="well"> <%= link_to 'Download', asset_path('TEEN SUMMER CAMP 2017.docx'), class: "btn btn-info-filled"  %>
                </div>
            </div><!-- / col-sm-12 -->
        </div><!-- / row -->
      
      <div class="row">
            <div class="col-sm-12">
                <h4 class="sub-title">Download TAPS Summer Camp 2017 Form
                </h4>
                <div class="well"> <%= link_to 'Download', asset_path('Summer Camp 2017.docx'), class: "btn btn-info-filled"  %>
                </div>
            </div><!-- / col-sm-12 -->
        </div><!-- / row -->

        <div class="row">
            <div class="col-sm-12">
                <h4 class="sub-title">Download TAPS Registration Packet 2017
                </h4>
                <div class="well"> <%= link_to 'Download', asset_path('Registration Packet 2017.pdf'), class: "btn btn-info-filled"  %>
                </div>
            </div><!-- / col-sm-12 -->
        </div><!-- / row -->
 <div class="row">
            <div class="col-sm-12">
                <h4 class="sub-title">Download WAIVER AND AUTHORIZATION FOR TREATMENT
                </h4>
                <div class="well"> <%= link_to 'Download', asset_path('WAIVER AND AUTHORIZATION FOR TREATMENT.docx'), class: "btn btn-info-filled"  %>
                </div>
            </div><!-- / col-sm-12 -->
        </div><!-- / row -->
       


    </div>
</div>









            <div class="space-200">&nbsp;</div>